GMAIL_USER=your_email@gmail.com
GMAIL_APP_PASSWORD=your_16_char_app_password
DROPBOX_ACCESS_TOKEN=
DROPBOX_DEST_FOLDER=/Email_Attachments
LOCAL_DEST_FOLDER="C:\Users\shaun\Dropbox\Personal\Home Buying\85_1 Mark St Lidcombe\HSBC\Loan statements"
SEARCH_CRITERIA=FROM "HSBC@connect.hsbc.com.au" SUBJECT "Your Monthly HSBC Bank Statement" UNSEEN
