GMAIL_USER=your_email@gmail.com
GMAIL_APP_PASSWORD=your_16_char_app_password
DROPBOX_ACCESS_TOKEN=
DROPBOX_DEST_FOLDER=/Email_Attachments
LOCAL_DEST_FOLDER="C:\\path\\to\\your\\Dropbox\\folder\\HSBC\\Loan statements"
GMAIL_HOMELOANS_FOLDER=HomeLoans
LAST_PROCESSED_DATE=
STATE_FILE=processed_statements.json
SEARCH_CRITERIA=FROM "HSBC@connect.hsbc.com.au" SUBJECT "Your Monthly HSBC Bank Statement" UNSEEN
